.appBar {
  display: flex;
  align-items: center;
  width: 320px;
  padding: 23px 16px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
    padding: 30px 16px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 28px 16px;
  }
}

.mobileMenuBtn {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: 8px;
}

.mobileMenuIcon {
  width: 24px;
  height: 22px;
}

.themeSwitcherDesktop {
  background-color: black;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 147px;
    gap: 12px;
  }
}
