.searchBox {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.inputSearch {
  height: 31px;

  @media screen and (max-width: 767px) {
    width: 0px;
    border: 1px solid transparent;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 213px;
  }
  @media screen and (min-width: 1280px) {
    width: 288px;
  }

  padding: 5px 5px 5px 40px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  outline: none;
  border: 1px solid #111321;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  color: #111321;
}
.inputSearch::placeholder {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.btnSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: transparent;
  pointer-events: painted;

  &Icon {
    width: 20px;
    height: 20px;
  }
}

.btnSearch:focus ~ .inputSearch {
  @media screen and (max-width: 767px) {
    width: 173px;
    border-radius: 50px;
    border: 1px solid #111321;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  }
}
.inputSearch:focus {
  @media screen and (max-width: 767px) {
    width: 173px;
    border-radius: 50px;
    border: 1px solid #111321;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  }
}
