.themeSwitcherMobile {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 15px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.switcherCheckBoxMobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeSwitcherIconMobile {
  width: 20px;
  height: 20px;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.themeSwitcherInputMobile[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.themeSwitcherLabelMobile {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  border: 1px solid #4b48db;
  background-color: #fff;
  display: block;
  border-radius: 20px;
  position: relative;
}

.themeSwitcherLabelMobile:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  background: #4b48db;
  border-radius: 50%;
  transition: 0.3s;
}

.themeSwitcherInputMobile:checked + .themeSwitcherLabelMobile {
  background: #4b48db;
  border: 1px solid #fff;
}

.themeSwitcherInputMobile:checked + .themeSwitcherLabelMobile:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
  background: #fff;
}

.themeSwitcherLabelMobile:active:after {
  width: 26px;
}
