@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

.active {
  position: relative;
}

.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -3px;

  border-radius: 2px;
  background-color: #4440f6;

  animation-name: current-underline;
  animation-duration: 150ms;
  animation-timing-function: linear;
}

@keyframes current-underline {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(1);
  }
}

.dark {
  background-color: #2e2e2e;
  color: #f4f4f4;
}

/* =========== custom select ========== */

.react-select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
  height: 34px;
  border: 1px solid #4440f6;
  border-radius: 20px;
  background-color: white;
  color: #4b48db;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;

  &:hover {
    background-color: #4b48db;
    color: white;
  }
}

.react-select__control {
  padding: 0 24px;
}

.react-select-container:hover .react-select__indicators {
  transform: rotate(180deg);
}

.react-select__menu-list {
  margin-top: 3px;
  padding: 14px 24px;
  width: 168px;
  height: 380px;
  border-radius: 20px;
  background-color: #f8f8f8;
}

.react-select__option {
  color: #4440f6;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:hover {
    text-decoration: underline;
  }
}
